.git
.venv
.temp
.env
.env.*
**/.env
**/.env.*
secrets
**/secrets
.pytest_cache
.ruff_cache
**/__pycache__
**/*.pyc
**/*.egg-info
cammon/_nfs*
frontend/node_modules
frontend/dist
frontend/*.tsbuildinfo
data
cache
.docs
